# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
clipsync-*

# Windows Resource files
rsrc.syso

# Go
vendor/
go.work
.mndebug

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#Custom Files & Folders
mistakes.txt
prompt.txt
release.bat
release.sh
copy.bat
explain/
learn/
gui/plan.txt
cmd.txt
clipsync.apk
clipsync.apk.idsig